# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
# Non caricare mai le chiavi di Turso o segreti su GitHub
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# local database
# Escludiamo il file sqlite locale e la cartella data
/data/*.db
/data/*.sqlite
/data/*.sqlite3
*.db
*.sqlite

# uploads (local test only)
# Escludiamo i caricamenti locali, visto che useremo Vercel Blob
/public/uploads/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts